html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background: black;
}

#screen{
	height: 100vh;
	width: 90vw;
	position: relative;
	overflow: hidden;
	margin: auto;
}

#canvas{
	height: 100%;
	background: grey;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#canvas .persona{
	width: 60%;
	height: calc(100% - 115px);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

#titles-area{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	margin: 10px;
}
#titles{
	font-size: 16pt;
	color: white;
	background: rgb(96, 96, 96, 0.85);
	height: 105px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
#titles:before{
	content: '';
	display: inline-block;
	width: 8px;
	height: 100%;
	background: orange;
	float:left;
	margin-right: 8px;
	opacity: 0.8;
	transition: 0.15s;
}
#titles:hover:before{
	opacity: 1;
}
#titles:active:before{
	background: gold;
	filter: drop-shadow(0 0 4px gold);
}
#titles > #titles-text{
	padding: 5px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	user-select: none;
}
#titles > #titles-text > persona{
	color: yellow;
}

#choices{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.choice{
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 8px;
	border-radius: 16px;
	min-width: 18%;
	cursor: pointer;
	color: white;
	background: rgb(96, 96, 96, 0.85);
	transition: all 0.1s, transform 0.5s;
	user-select: none;
}
.choice:hover{
	background: rgb(96, 96, 96, 1);
	filter: drop-shadow(0 0 2px #202020);
}
.choice:active{
	filter: drop-shadow(0 0 3px black);
}
.choice.hide{
	transform: translateX(100%);
	opacity: 0;
}



@media(max-width: 500px){
	#screen{
		width: 100vw;
	}
}
