html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#menu{
	height: 30px;
	padding: 5px;
	position: fixed;
	background: rgb(255, 255, 255, 0.85);
	width: 100%;
	top: 0;
}

.dark body{
	background: grey;
}
.dark #menu{
	background: rgb(200, 200, 200, 0.85);
}

.but{
	border: 1px solid;
	padding: 5px 15px;
	cursor: pointer;
	display: block;
	user-select: none;
}
.but:hover{
	background: #E0E0E0;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	white-space: nowrap;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 0;
	top: 30px;
}

.dropdown:hover .dropdown-content {
	display: block;
}


#editor{
	text-align: center;
	white-space: nowrap;
	overflow: auto;
	padding-top: 45px;
}

#editor input{
	text-align: center;
}

#editor input:placeholder-shown {
	width: 50px;
}

#editor .simple-block{
	background: lightblue;
	padding: 5px;
	border-radius: 8px;
	width: fit-content;
	margin: auto;
	margin-bottom: 5px;
}
#editor .simple-block:before{
	content: attr(before) "(";
}
#editor .simple-block:after{
	content: ")";
}
#editor .simple-block.light{
	background: #d6ebf2;
}
#editor .simple-block.persona{
	background: pink;
}
#editor .choices .choice{
	background: lightgreen;
	padding: 5px;
	border-radius: 8px;
	display: inline-block;
	vertical-align: top;
	margin: 3px;
	border: 1px solid black;
}
#editor .choices .choice-title{
	border-bottom: 2px solid;
	margin-bottom: 4px;
}


#editor .selected{
	border: 4px solid red !important;
	border-radius: 6px;
}
