html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background: black;
}

#screen{
	height: 100vh;
	width: 90vw;
	position: relative;
	overflow: hidden;
	margin: auto;
}

.hide{
	opacity: 0;
	visibility: hidden;
}

#menu{
	height: 100%;
	background: #282923;
	color: white;
	transition: 0.5s;
}
#chapters .chapter{
	background: #2b2b2b;
	height: 150px;
	width: 150px;
	border-radius: 12px;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
	user-select: none;
	transition: 0.2s ease-in-out;
}
#chapters .chapter:hover{
	animation: chapter-anim 1s infinite;
}
@keyframes chapter-anim{
	0%{
		filter: drop-shadow(0 2px 4px grey);
	}
	12.5%{
		filter: drop-shadow(2px 2px 4px grey);
	}
	25%{
		filter: drop-shadow(2px 0 4px grey);
	}
	37.5%{
		filter: drop-shadow(2px -2px 4px grey);
	}
	50%{
		filter: drop-shadow(0 -2px 4px grey);
	}
	62.5%{
		filter: drop-shadow(-2px -2px 4px grey);
	}
	75%{
		filter: drop-shadow(-2px 0 4px grey);
	}
	87.5%{
		filter: drop-shadow(-2px 2px 4px grey);
	}
	100%{
		filter: drop-shadow(0 2px 4px grey);
	}
}
#chapters .chapter .preview{
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0px 0px 25px black;
	border-radius: 5px;
}
#chapters .chapter .progress{
	width: 100%;
}
#chapters .chapter .title{
	margin: 5px;
}

#game{
	height: 100%;
	width: inherit;
	transition: 0.5s;
	position: fixed;
	top: 0;
	bottom: 0;
}
.controls{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	--color: #cdcdcd;
	font-size: 24pt;
	box-sizing: border-box;
	width: 100%;
}
.controls > *{
	cursor: pointer;
	transition: 0.25s;
	color: var(--color);
	z-index: 10;
	position: relative;
	display: inline-block;
}
.controls > *:hover{
	--color: yellow;
}

.exit_to_menu{
	--margin: 6px;
	--height: 4px;
	height: calc(var(--height) * 3 + var(--margin) * 2);
}
.exit_to_menu span,
.exit_to_menu span:before,
.exit_to_menu span:after {
	display: block;
	width: 36px;
	height: var(--height);
	background: var(--color);
	border-radius: 3px;
	transition: 0.25s;
}
.exit_to_menu span:before, 
.exit_to_menu span:after {
	content: '';
	position: absolute;
}
.exit_to_menu span:before{
	top: calc(var(--height) + var(--margin));
}
.exit_to_menu span:after{
	top: calc((var(--height) + var(--margin)) * 2);
}


#canvas{
	height: 100%;
	background: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#canvas .persona{
	width: 60%;
	height: calc(100% - 115px);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

#titles-area{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	margin: 10px;
}
#titles{
	font-size: 16pt;
	color: white;
	background: rgb(96, 96, 96, 0.85);
	height: 105px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 4;
}
#titles:before{
	content: '';
	display: inline-block;
	width: 8px;
	height: 100%;
	background: orange;
	float:left;
	margin-right: 8px;
	opacity: 0.8;
	transition: 0.15s;
}
#titles:hover:before{
	opacity: 1;
}
#titles:active:before{
	background: gold;
	filter: drop-shadow(0 0 4px gold);
}
#titles > #titles-text{
	padding: 5px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	user-select: none;
}
#titles > #titles-text > persona{
	color: yellow;
}

#choices{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	min-width: 20%;
	position: absolute;
	right: 0;
}
.choice{
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 8px;
	border-radius: 16px;
	min-width: 100%;
	cursor: pointer;
	color: white;
	background: rgb(96, 96, 96, 0.85);
	transition: all 0.1s, transform 0.5s;
	user-select: none;
	box-sizing: border-box;
}
.choice.disabled{
	filter: invert(0.35);
	background: rgb(96, 96, 96, 0.5);
	cursor: auto;
	opacity: 0.75;
}
.choice:not(.disabled):hover{
	background: rgb(96, 96, 96, 1);
	filter: drop-shadow(0 0 2px #202020);
}
.choice:not(.disabled):active{
	filter: drop-shadow(0 0 3px black);
}
.choice.hide{
	transform: translateX(100%);
	opacity: 0;
}

#above-titles{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}
.love-level{
	background: rgb(96, 96, 96, 0.85);
	border: 3px solid hotpink;
	margin-left: 10px;
	margin-bottom: 5px;
	color: white;
	text-align: center;
	padding: 6px 30px;
	border-radius: 16px;
	box-shadow: 0 0 4px hotpink;
	transition: 0.5s;
	min-width: 15%;
}
.love-level .title{
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 2px;
}
.love-level .progress{
	box-sizing: border-box;
	width: 100%;
	height: 8px;
	border-radius: 25px;
	background: #3b3b3b;
	border: 1px solid grey;
	position: relative;
	overflow: hidden;
}
.love-level .progress:before{
	content: '';
	width: calc(1% * var(--value));
	height: 100%;
	position: absolute;
	left: 0;
	background: hotpink;
	transition: 1s;
}
.love-level.up .progress:before{
	background: lime;
}
.love-level.down .progress:before{
	background: red;
}
.love-level.hidden{
	transform: translateY(110%);
	opacity: 0;
}

@keyframes first-time{
	from{
		transform: rotate(0deg);
	} to{
		transform: rotate(90deg);
	}
}

@media(max-width: 500px){
	#fullscreener{
		transform: rotate(90deg);
		transform-origin: center;
		animation: first-time 0.5s;
	}
	#screen{
		width: 100vh;
		height: 100vw;
	}
	#canvas .persona{
		width: 100%;
	}
}
